body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.header{
    padding-left: 150px;
    padding-right: 150px;
}

.color {
    background-color: #1A1817;
    color: #F7F5F5;
    padding-bottom: 50px;
    
}


a {
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 48px;
    margin-bottom: 0px;
    margin-right: 34px;
    padding-top: 28px;
    padding-left: 0px;

}

.button {
    padding: 17px 50px;
    background-color: #F7F5F5;
    color: #1A1817;
    text-decoration: none;
    border: none;
    width: 190px;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: 700;
    
}

#separateur{
    border-right: 3px solid #F7F5F5;
    height: 5;
    font-weight: 600;
    font-size: 20px;
    display: inline-flex;
    gap: 20px;
    
    
}

.center {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: 700;
}

#padding {
    padding-bottom: 40px;
}


.column {
    display: flex;
    text-align: center;
    gap: 100px;
}

.container {

    color: #1A1817;
    padding-right: 70px;
    padding-bottom: 85px;
    padding-left: 47px;
    width: 900px;
    margin: auto;



}


.titre2 {
   display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.titre3{ 
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 55px;
}

.marque {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mark {
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}


.card {
    width: 1030px;
    margin: auto;

    img {
        width: 100%;

    }

}


.carte {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.etoile {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    flex-direction: column;
}

.gris {
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.temoignage {
    background-color: #F3F3F3;
    width: 310px;
    padding: 32px;
}

.flex {
    display: flex;
    gap: 20px;

}

.gap {
    gap: 5px
}

.imgT {
    width: 50px;
    height: 50px;
    border-radius: 50%
}

.clients {
    display: flex;
    justify-content: center;
    gap: 13px;
    margin-top: 20px;
}

.paragraphe {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 45px;
     font-weight: 600;
    font-size: 22px;
    
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 135px;
    font-size: 25px;
    
}

.form{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}


input{ 
    padding: 12px;
    border: none;
    width: 400px;
    height: 35px;
}

#gap{
    display: flex;
    gap: 20px;
}
