body{
     margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.color{
     background-color: #1A1817;
    color: #F7F5F5;
    padding-bottom: 50px;
    padding-left: 39px;
    padding-right: 70px;
}


a{
    color: white;
}

.nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    margin-left: 48px;
    margin-bottom: 0px;
    margin-right: 34px;
    padding-top: 28px;
    padding-left: 0px;

}

.button{
    padding: 17px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #F7F5F5;
    color: #1A1817;
    text-decoration: none;
}

.navigation{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inter{
     font-family: "Inter", sans-serif;
      font-style: 700;
}

.center{
    display: flex;
    align-items: center;
}

.logo{
    text-decoration: none;
     font-family: "Inter", sans-serif;
     font-style: 700;
}

#padding{
   padding-bottom: 40px;
}


.column{
    display: flex;
  text-align: -webkit-center;
}

.container{
  
    color: #1A1817;
    padding-right: 70px;
    padding-top: 85px;
    padding-bottom: 85px;
    padding-left: 47px;
    

}


.titre2{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 20px;
}

.marque{
  display:flex;
    align-items: center;
    justify-content: space-between;
}

.mark{
    padding-top: 50px;
}

.card{
    width: 1030px;
    margin: auto;
  
    img{
        width: 100%;
        
    }
   
}


.carte{
      display: flex;
    flex-wrap: wrap;
     width: 310px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.etoile{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-direction: column;
}

.gris{
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
}
.temoignage{
       background-color: #F3F3F3;
    width: 310px;
    padding: 20px;
}
.flex{
    display: flex;
    gap: 20px;
 
}
.gap{
    gap: 5px
}
.imgT{
    width: 50px;
    height: 50px;
}